@font-face { font-family: Monoton; src: url('fonts/Monoton-Regular.ttf'); }
@font-face { font-family: Unifraktur; src: url('fonts/UnifrakturMaguntia.ttf'); }
@font-face { font-family: Olde English; src: url('fonts/Olde English Regular.ttf')}
@font-face { font-family: Barcode; src: url('fonts/New Barcode Font.ttf')}
@font-face { font-family: Pixel; src: url('fonts/VT323-Regular.ttf')}

body {
  background-image: url("images/mountains.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.sykiee {
  color: #ffffff;
  position: absolute;
  left: 13%;
  font-family: Pixel;
  top: 5.5%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-shadow: 2px 2px #000000;
}

.supreme {
  position: fixed;
  border: 2px solid #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
}

.supreme2 {
  position: fixed;
  border: 1px solid #ffffff;
  left: 90%;
  top: 105%;
  transform: translate(-50%, -50%);
  line-height: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
  
a:hover {
  text-decoration: none;
  color: #bbbbbb;
}

.link1 {
  color: #ffffff;
  font-size: 170%;
  position: absolute;
  font-family: Pixel;
  left: 79%;
  top: 106%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px #000000;
  }

  .link2 {
    color: #ffe4e1;
    font-size: 170%;
    position: absolute;
    font-family: Pixel;
    left: 100%;
    top: 106%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px #000000;
    }
