@font-face { font-family: Monoton; src: url('fonts/Monoton-Regular.ttf'); }
@font-face { font-family: Unifraktur; src: url('fonts/UnifrakturMaguntia.ttf'); }


body {
  background: #800000;
  background-size: cover;
}

.sykiee {
  color: #ffffff;
  position: absolute;
  font-family: Monoton;
  left: 50%;
  top: -3%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-shadow: 5px 5px #000000;
}

.carti {
  position: fixed;
  border: 2px solid #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
}
