body {
  background: #ffe4e1;
  background-size: cover;
}

.image {
position: absolute;
border: 3px solid #fff;
box-shadow: 15px 15px 5px #000;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
